@model Invoice.ViewModels.InvoiceItemViewModel

<tr class="item-row">
    <td>
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control quantity", type = "number", step = "1" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.UnitPriceExcludingTax, new { @class = "form-control unit-price", type = "number", step = "0.01" })
    </td>
    <td>
        <button class="btn btn-danger delete-row-button" type="button">Izbriši</button>
    </td>
</tr>

<script>
    $(document).ready(function () {
        $('#addRowButton').click(function () {
            $.ajax({
                url: '/BillInvoice/_InvoiceItemRow',
                type: 'GET',
                success: function (partialView) {
                    var index = $('.item-row').length;
                    var newRow = $(partialView).find('.item-row');
                    newRow.find('.quantity').attr('name', 'InvoiceItems[' + index + '].Quantity');
                    newRow.find('.unit-price').attr('name', 'InvoiceItems[' + index + '].UnitPriceExcludingTax'); 
                    $('#invoiceItemsTable tbody').append(newRow);
                    updateTotalAmounts();
                }
            });
        });

    });

</script>